.textoutputwrapper{
    box-sizing: border-box;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.message{
    /* padding: 0.2rem;
    margin: 0.1rem; */
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    max-width: 70%;
}

.incomming{
    background-color: #3A3A3C;
    color: #E1E1E3;
    align-self: flex-start;
    text-align: left;
    border-radius: 20px 20px 20px 0px;
}

.mediator{
    background-color: #362d3b;
    color: #E1E1E3;
    align-self: flex-start;
    text-align: left;
    border-radius: 20px 20px 20px 0px;
}

.outgoing{
    color: #E1E1E3;
    background-color: #148AFF;
    align-self: flex-end;
    text-align: left;
    border-radius: 20px 20px 0px 20px;
}