.App {
  /* border: 1px solid blue; */
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #1E1E1E;
}

html{
  background-color: #1E1E1E;
}

body{
  background-color: #1E1E1E;
}

#root{
  background-color: #1E1E1E;
}

@media only screen and (max-width: 700px){
  .App{
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
  }

}

.App::-webkit-scrollbar {
  width: 0.5em;
}

.App::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.App {
  scrollbar-width: none;
}