.App {
  border: 1px solid blue;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

/* For WebKit-based browsers */
.App::-webkit-scrollbar {
  width: 0.5em;
}

.App::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* For Firefox */
.App {
  scrollbar-width: none;
}