:root {
  /* --backdrop-color: rgb(30, 30, 30); */
  --backdrop-color: rgb(0, 0, 0);
  /* --backdrop-blur-color: rgba(30,30,30, 0.6); */
  --backdrop-blur-color: rgba(0, 0, 0, 0.6);
  --secondary-color: rgb(30, 30, 30);
  /* --secondary-color: #403a36; */
  /* --secondary-color: #1c1c1c; */
  --text-blue-color: #148AFF;
  --text-grey-color: #3a3a3c;
  --text-purple-color: #362d3b;
  --text-color: #E1E1E3;
  --test: blue;
  /* --information-display: flex; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
