.textinputwrapper{
    box-sizing: border-box;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
}

