.textinputwrapper{
    box-sizing: border-box;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
}

.typefield{
    width: 60%;
}

.inputelement{
    width: 100%;
    overflow: hidden;
    /* max-height: 50px; */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    resize: none; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #4C4C4C;
    background-color: #1E1E1E;
    color: white;
    resize: none; 
    font-size: 1rem;
    padding: 8px 15px;
    padding-right: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputelement:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
}

.inputelement:active{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    /* border: none; */
}

.typefield{
    align-self: flex-end;
}

.sendbutton{
    position: relative;
    height: 100%;
    display: flex;
    padding-bottom: 15px;
    /* align-self: flex-end; */
}

.arrowicon{
    background: white;
    box-sizing: border-box;
    border-radius: 50%;
    color: #148AFF;
    font-size: 2rem;
    display: flex;
    transform: translate(-2.2rem, -1px);
    align-self: flex-end;
}