.textinputwrapper{
    box-sizing: border-box;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
}

.inputelement{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 8px 15px;
    border: 2px solid #4C4C4C;
    background-color: #1E1E1E;
    color: white;
}

.inputelement:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    /* border: none; */
}

.inputelement:active{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    /* border: none; */
}

.sendbutton{
    position: relative;
}

.arrowicon{
    background: white;
    box-sizing: border-box;
    border-radius: 50%;
    color: #148AFF;
    font-size: 27px;
    display: flex;
    transform: translate(-31px, 0%);
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%) */
    /* font-size: 27px; */
}
/* .arrowicon::after{
    background-color: azure;
    width: 50px;
    height: 50px;
} */